<div class="jumbotron bg-light text-center container shadow-lg">
	<div class="card-title">
		<h1>About The project</h1>
	</div>

	<div class="card-body">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam culpa dignissimos hic tempora eaque repellat
		laudantium, neque unde eum cupiditate, provident commodi, fugiat corrupti dolore a? Aliquam nihil corrupti omnis?
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ea non minima dolore perspiciatis laudantium nesciunt
		odio voluptas, molestiae repellat nulla veniam est harum numquam maxime? Velit, saepe alias. Quam eum natus hic sint
		sun incidunt, assumenda eveniet, labore repellendus cum eos, eaque eius nobis illum explicabo quis nulla deleniti.
		<br><br><br>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam dicta soluta fugit veritatis corrupti perspiciatis
		non atque cupiditate necessitatibus, dolor magni fugiat quaerat consequuntur optio labore voluptatum harum ad ullam
		asperiores. Dolor voluptate accusamus modi adipisci sequi deleniti tempore, et voluptatum ipsa reprehenderit quos
		veniam accusantium nam libero quas? Dolorem!
	</div>
</div>