<footer class=" justify-content-end">
		<div class="container-fluid bg-main-dark p-3 text-center text-white">
			<h6>CRUD notes by <a href="https://github.com/teba-isea/">Esteban Isea</a></h6>
		</div>
	</footer>