<div class="row jumbotron bg-light shadow-lg">
	<div class="text-center container-fluid">
		<h1>Create your User and save Notes!</h1>
	</div>
	<div class="col-6">
		<div class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="./src/img1.png" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h3>First slide label</h3>
						<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="./src/img2.png" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h3>Second slide label</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
				<div class="carousel-item">
					<img src="./src/img1.png" class="d-block w-100" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h3>Third slide label</h3>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-6">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, ad! Debitis repudiandae error explicabo
		accusantium illum asperiores assumenda nihil nam odit nobis perferendis doloribus at dolorum, impedit dolore
		eos iure tenetur. Ut rerum impedit exercitationem ratione aspernatur, provident sequi voluptatum earum
		consectetur eos porro necessitatibus. Libero quam, porro repellat quas aperiam dolores ipsa, suscipit et
		perferendis inventore eaque illo accusamus nisi dolorum labore totam ea earum consequuntur voluptate
		blanditiis maiores! Modi ipsam qui explicabo sequi doloribus! Doloremque earum dicta ullam perferendis
		maiores in iure. Ipsam possimus necessitatibus delectus dolorem unde quibusdam, sunt consectetur inventore
		laborum alias quos aut cum et!
	</div>
</div>