<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/bootstrap-reboot.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/app.css">
	<title>Crud notes by Esteban Isea</title>
</head>




	<main>
			{{> navigations}}
		<div class="container-md mb-5">
			{{> message}}
			{{> errors}}
			{{{body}}}
		</div>
		{{> footer}}
	</main>

	

	<script src="/js/jquery-3.5.1.js"></script>
	<script src="/js/bootstrap.bundle.min.js"></script>
	<script src="/js/bootstrap.js"></script>
</body>

</html>