<div class="container-md jumbotron bg-light text-center container shadow-lg">
	<div class="card-title">
		<h1>About The project</h1>
	</div>
	<div class="row">
		<div class=" col-3">
			<img src="/src/img2.png" alt="">
		</div>
		<div class="col-5">
			<div>
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam culpa dignissimos hic tempora eaque repellat
				laudantium, neque unde eum cupiditate, provident commodi, fugiat corrupti dolore a? Aliquam nihil corrupti
				omnis?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae ea non minima dolore perspiciatis laudantium
				nesciunt
				odio voluptas, molestiae repellat nulla veniam est harum numquam maxime? Velit, saepe alias. Quam eum natus hic
				sint
				sun incidunt, assumenda eveniet, labore repellendus cum eos, eaque eius nobis illum explicabo quis nulla
				deleniti.
			</div>
		</div>
	</div>
</div>