<div class="container-md jumbotron bg-light text-center shadow-lg"> 
	<div class="col-8 container text-center">
		<h1 class="display-4">Hello, world!</h1>
		<p class="lead">I'm Esteban Isea,student of software engineer on "Universidad Nacional Abierta de Venezuela"</p>
		<hr class="my-4">
		<p>la finalidad de este proyecto fue la de demostrar de manera practica que es una Aplicacion CRUD,este tipo de
			proyectos es usado comunmente por empleadores para validar el conocimiento de los desarrolladores que se postulan.
		</p>
		<a class="btn btn-primary btn-lg" href="https://github.com/teba-isea" role="button">Contact me!</a>

	</div>
</div>