<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/bootstrap-reboot.css">
	<link rel="stylesheet" href="./css/bootstrap-grid.css">
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="./css/app.css">
	<title>Crud notes by Esteban Isea</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-dark bg-dark mb-5">
			<a href="/" class="navbar-brand">
				<h1>Product App</h1>
			</a>
			<div class="btn-group justify-end" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-secondary">Register</button>
				<button type="button" class="btn btn-secondary">Middle</button>
				<button type="button" class="btn btn-secondary">Sign in</button>
			</div>
		</nav>
	</header>

	<main>
		<div class="container">
			{{{body}}}
		</div>
	</main>

	<footer>
		<div class="container-fluid bg-dark p-3 text-center text-white">
			<h6>CRUD notes by <a href="https://github.com/teba-isea/">Esteban Isea</a></h6>
		</div>
	</footer>

	<script src="./js/bootstrap.js"></script>
	<script src="./js/jquery-3.5.1.js"></script>
</body>

</html>