<div class="col-md-5 bg-light jumbotron shadow-lg mx-auto">
  <form action="/signup" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" name="name" value="{{name}}" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name="email" value="{{email}}" aria-describedby="emailHelp">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" min="8" class="form-control" name="password" value="{{password}}">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" min="8" class="form-control" value="{{confirmPassword}}" name="confirmPassword">
    </div>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">I acept the <a href="#">terms of use</a></label>
    </div>
    <button type="submit" class="btn btn-primary">sign up</button>
  </form>
</div>